body{
    text-align: center;
    background-color: linear gradient (pink, lavender, yellow);
}
#family_img{
    width: 200px;
}
button{
    font-size: medium;
    border-radius: 20%;
    color: black;
    background-color: aqua;
}
h1{
    font-size: 40px;
    color: darkblue;
    text-decoration: underline;
}
h3{
    font-size: 30px;
    color: purple;
    font-weight: bold;
    text-decoration: underline;
}